<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
    
    <Package Name="Control de Pacientes" 
             Language="1033" 
             Version="1.0.0.0" 
             Manufacturer="ControlPacientes" 
             UpgradeCode="12345678-1234-1234-1234-111111111111"
             Compressed="yes" 
             InstallScope="perMachine">
        
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate EmbedCab="yes" />

        <StandardDirectory Id="ProgramFilesFolder">
            <Directory Id="INSTALLFOLDER" Name="ControlPacientes" />
        </StandardDirectory>

        <StandardDirectory Id="ProgramMenuFolder">
            <Directory Id="ApplicationProgramsFolder" Name="Control de Pacientes" />
        </StandardDirectory>

        <Feature Id="ProductFeature" Title="Control de Pacientes" Level="1">
            <ComponentRef Id="MainExecutable" />
            <ComponentRef Id="ApplicationShortcut" />
        </Feature>
    </Package>

    <Fragment>
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Component Id="MainExecutable" Guid="12345678-1234-1234-1234-222222222222">
                <File Id="ControlPacienteEXE" Source="publish/ControlPacientes.UI.exe" KeyPath="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="Shortcuts" Directory="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="12345678-1234-1234-1234-333333333333">
                <Shortcut Id="ApplicationStartMenuShortcut" 
                         Name="Control de Pacientes" 
                         Description="Gestionar pacientes y fichas médicas" 
                         Target="[#ControlPacienteEXE]" 
                         WorkingDirectory="INSTALLFOLDER" />
                <Shortcut Id="UninstallProduct" 
                         Name="Desinstalar Control de Pacientes" 
                         Target="[SystemFolder]msiexec.exe" 
                         Arguments="/x [ProductCode]" />
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
                <RegistryValue Root="HKCU" Key="Software\ControlPacientes" Name="installed" Type="integer" Value="1" KeyPath="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
